/*CSS Variables*/

:root {
    --primary: #ffe8cf;
    --dark: #333333;
    --light: #fffffa;
    --salmon: #ffdede;
    --green: #ccfeec;
    --yellow: #fdfdc3;
}

html {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--dark);

}

body {
    background-color: var(--primary);
    line-height: 1.4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        'header header header'
        'contenido contenido contenido'
        'footer footer footer'
    
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    border: 0;
    padding:
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333333;
}

.search input{
    background-color: var(--salmon);
}

img {
    max-width: 100%;
}

header{
    grid-area: header;
    background-color: var(--salmon);
}

.contenido{
    grid-area: contenido;
    
}
footer{
    grid-area: footer;
    background-color: var(--green);
    
}


